default:
  suites:
    default:
      paths:
        - %paths.base%/features/
      contexts:
        - FeatureContext:
          - "@Helpers\\PageObject\\HelloWord"
      services: "Helpers\\ContainerFactory::factory"
